@charset "utf-8";
/* ----------------
	公共样式开始
----------------- */
/*cover*/
.cover .iphone {
  width: 2.9rem;
  height: 4.36rem;
  position: absolute;
  left: 50%;
  top: 40%;
  margin-top: -2.18rem;
  margin-left: -1.45rem;
  background: url(../images/phone.png) no-repeat;
  background-size: 100% 100%;
  animation: zhuan 1.5s 0.3s infinite;
  -webkit-animation: zhuan 1.5s 0.3s infinite;
}
.cover p {
  position: absolute;
  top: 65%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 0.5rem;
  line-height: 1.5;
}
@keyframes zhuan {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes zhuan {
  0% {
    -webkit-transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
  }
}
@media screen and (orientation: landscape) {
  .cover {
    display: block !important;
  }
}
/*cover*/
/*music*/
.media-wrap {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  z-index: 102;
  border-radius: 50%;
  top: 0.6rem;
  right: 0.4rem;
}
.media-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.media-wrap .music_off {
  display: none;
}
@-webkit-keyframes music {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(36deg);
  }
  75% {
    -webkit-transform: rotate(-36deg);
  }
}
.media-wrap.on {
  -webkit-animation: music 1.2s linear infinite;
  background-position: 0 0;
}
/*music*/
/*长页面滚轮*/
html,
body {
  width: 100%;
  height: 100%;
}
/* .swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
} */
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.main::-webkit-scrollbar {
  display: none;
}
img {
  display: block;
}
/*中间内容*/
.main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
/*尾部*/
.footer {
  width: 100%;
  height: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.15rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, #0b73fb, #75a0d9);
}
.footer img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.2rem;
  width: 0.2rem;
}
.hide {
  display: none;
}
.center_x {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.center_y {
  margin: auto 0;
  top: 0;
  bottom: 0;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.max_xy {
  width: 100%;
  height: 100%;
}
/* ----------------
	公共样式结束
----------------- */
/* ----------------
	各页面背景图
----------------- */

.bg {
  background: url(../images/bg-b.png) no-repeat bottom center / 100% auto,
    url(../images/bg-t.png) center top/ 100% auto;
  background-color: #69ccff;
  padding-bottom: 2.66rem;
}
/* ----------------
	各页面背景图
----------------- */
.page {
  min-height: 100vh;
  position: relative;
}
.page .header {
  position: absolute;
  top: 0;
  width: 7.5rem;
  height: 0.6rem;
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
}
.page .header .logo {
  width: 3.14rem;
  margin: 0.2rem 0 0 .2rem;
  /* margin-left: 0.6rem; */
}
.page .banner {
  width: 100%;
}
.page .banner img {
  width: 100%;
}
.page .navbox {
  margin-top: -4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding: 0 0.5rem; */
  box-sizing: border-box;
  flex-wrap: wrap;
}
.page .navbox img{
  width: 100%;
  height: 100%;
}
.page .navbox .nav {
  margin: 0.1rem;
  width: 1.72rem;
  height: 0.65rem;
  /* background: url(../images/btnbg.png) no-repeat 0 0/100% 100%; */
  font-family: YouSheBiaoTiHei;
  font-size: 0.24rem;
  line-height: 0.18rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.55rem;
}
.page .box {
  margin: 0.34rem auto;
  width: 6.71rem;
  border-radius: 0.1rem;
  border: 0.4rem solid #fff;
  border-image: url("../images/info.png") fill 40 round;
  box-sizing: border-box;
  /* overflow: hidden; */
  position: relative;
  padding-bottom: .6rem;
}
.air1 {
  position: absolute;
  top: -.5rem;
  right: -0.5rem;
  width: 2.3rem;
}
.air2 {
  position: absolute;
  bottom: 18%;
  left: 0rem;
  width: 2.3rem;
}
.air3 {
  position: absolute;
  top: 48%;
  left: -0.5rem;
  width: 1.3rem;
}
.page .box1 .title1 {
  width: 60%;
  margin: 0.28rem auto;
}
.page .box1 .textbox {
  margin: 0.32rem auto 0;
  width: 100%;
  /* background-color: #eeeeee; */
  border-radius: 0.13rem;
  box-sizing: border-box;
  padding: 0.4rem;
}
.page .box1 .textbox p {
  margin: 0.2rem auto 0;
  width: 5.45rem;
  font-family: FZLTHJW--GB1-0;
  font-size: 0.18rem;
  line-height: 0.35rem;
  color: #3c3c3c;
  text-indent: 2em;
  text-align: justify;
}
.page .box1 .textbox p span {
  color: #3283ef;
  font-weight: 700;
}
.page .box1 .img1 {
  width: 100%;
  margin: 0.2rem auto;
}
.lb1{
  width: 100%;
  overflow: hidden;
  position:relative;
}

.page .box1 .t1 {
  width: 4rem;
  height: 0.5rem;
  margin: 0.4rem auto 0;
  background: url(../images/page1/xian.png) no-repeat;
  background-size: 40% auto;
  background-position: bottom center;
  font-family: FZLTDHK--GBK1-0;
  font-size: 0.2rem;
  /* line-height: 0.66rem; */
  letter-spacing: 0.06rem;
  text-align: center;
  font-weight: 700;
  color: #0080cc;
}
.page .box1 video {
  display: block;
  margin: 0.2rem auto 0rem;
  width: 100%;
  border: 2px solid #217cf2;
  box-sizing: border-box;
}
.page .box1 .line {
  width: 0.6rem;
  margin: 0.51rem auto 0.25rem;
}
.page .box2 .title1 {
  width: 60%;
  margin: 0.28rem auto;
}
.page .box2 .navBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page .box2 .navBox .nav {
  margin: 0 0.01rem;
  width: 2.06rem;
  height: 0.64rem;
  background: url(../images/page2/btnbg.png) no-repeat top center / 100% auto;
  color: #000000;
}
.page .box2 .navBox .nav p {
  width: 100%;
  height: 0.51rem;
  line-height: 0.51rem;
  text-align: center;
  font-family: FZLTZHJW--GB1-0;
  font-size: 0.24rem;
  letter-spacing: 0.01rem;
}
.page .box2 .navBox .on {
  background: url(../images/page2/btnbg_a.png) no-repeat top center / 100% 100%;
  color: #fff;
}
.page .box2 .searchBox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.page .box2 .searchBox select {
  width:100%;
  height: .6rem;
  border: 1px solid #067af9;
  border-radius: 0.21rem;
  outline: none;
  font-size: 0.2rem;
  line-height: 0.27rem;
  color: #dedede;
  margin-bottom: .2rem;
}
.page .box2 .searchBox .searchbtn {
  width: 1.55rem;
}
.page .box2 .listbox {
  width: 100%;
  margin: 0.21rem auto;
  padding: 0.2rem;
  box-sizing: border-box;
  /* background-color: #eeeeee; */
}
.page .box2 .listbox .tip {
  text-align: center;
  margin-top: 0.38rem;
  font-size: 0.18rem;
  line-height: 0.36rem;
  color: #000000;
}
.page .box2 .listbox .list {
  width: 100%;
  margin-top: 0.27rem;
}
.page .box2 .listbox .list .list-item {
  width: 100%;
  height: 0.45rem;
  /* border-radius: 0.23rem; */
  background-color: #067af9;
  /* background: linear-gradient(to right, #016eff, #80a5d5); */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 0.15rem 0 0.15rem;
}
.page .box2 .listbox .list .list-item .icon {
  width: 0.218rem;
  margin: 0 0.22rem;
}
.page .box2 .listbox .list .list-item p {
  font-size: 0.2rem;
  letter-spacing: 0.01rem;
  color: #ffffff;
}
.page .box2 .listbox .list .list-item .job {
  width: 3.5rem;
}
.page .box2 .listbox .list .list-item .xz {
  margin-left: 0.2rem;
}
.page .box2 .listbox .list .list-item .xia {
  width: 0.19rem;
  margin-left: auto;
  transition: all 0.5s;
}
.page .box2 .listbox .list .list-item .rota {
  transform: rotate(180deg);
}
.page .box2 .listbox .list .list-detail .xlyq {
  margin-top: 0.25rem;
  border: 1px solid #016eff;
}
.page .box2 .listbox .list .list-detail .xlyq .item {
  display: inline-block;
  min-height: 0.4rem;
  box-sizing: border-box;
  padding: 0 0.2rem;
  font-size: 0.18rem;
  line-height: 0.27rem;
  letter-spacing: 0.01rem;
  color: #000000;
  display: flex;
  align-items: center;
}
.page .box2 .listbox .list .list-detail .xlyq .item img {
  width: 0.3rem;
  margin-right: 0.1rem;
}
.page .box2 .listbox .list .list-detail .xlyq .item:first-child {
  border-bottom: 1px dashed #016eff;
}
.page .box2 .listbox .list .list-detail .t {
  margin-top: 0.2rem;
  font-size: 0.2rem;
  line-height: 0.27rem;
  color: #067af9 !important;
  font-weight: bold;
}

.page .box2 .listbox .list .list-detail .txt {
  font-size: 0.18rem;
  line-height: 0.36rem;
  color: #000000;
}
.page .box2 .listbox .list .list-detail .txt span {
  margin-top: 0.2rem;
  font-size: 0.2rem;
  line-height: 0.27rem;
  font-weight: bold;
  color: #067af9 !important;
}
.page .box2 .listbox .list .list-detail .btn {
  display: block;
  width: 1.86rem;
  margin: 0 auto;
}
.page .box2 .listbox .list .list-detail .btn img {
  width: 100%;
  height: 100%;
}
.box3 .title1 {
  width: 60%;
  margin: 0.28rem auto;
}
.box3 .swiperBox {
  position: relative;
  width: 100%;
}
.box3 .swiper1 {
  width: 5.51rem;
  height: 2rem;
  margin: -0.7rem auto 0;
  overflow: hidden;
}
.box3 .swiper1 .swiper-wrapper {
  margin-top: 0.5rem;
}
.box3 .swiper1 img {
  width: 0.87rem;
  margin: 0 auto;
}
.box3 .swiper1 .swiper-slide-active {
  transform: translateY(-20%);
  transition: all 0.6s;
}
.box3 .swiper1 .swiper-button-next,
.box3 .swiper1 .swiper-button-prev {
  top: 57%;
}
.box3 .swiper1 .swiper-button-next::after,
.box3 .swiper1 .swiper-button-prev::after {
  transform: scale(0.5);
}
.box3 .img1 {
  width: 100%;
  margin: 0.74rem auto 0;
}
.box3 .textbox {
  overflow: hidden;
  margin: 0.87rem auto 0;
  width: 100%;
  background-color: #fff;
}
.box3 .textbox .title2 {
  width: 60%;
  margin: 0 auto;
  margin-top: 0.27rem;
}
.box3 .textbox .img2 {
  width: 100%;
  margin: 0.49rem auto 0;
}
.box3 .swiper2 {
  width: 100%;
  margin: 0.64rem auto;
  overflow: hidden;
  position: relative;
}
.box3 .swiper2 .swiper-slide {
  height: 1.26rem;
  overflow: hidden;
}
.box3 .swiper2 img {
  width: 100%;
}
.box3 .swiper2 .swiper-button-next::after,
.box3 .swiper2 .swiper-button-prev::after {
  color: #fff;
  font-size: 30px;
}
.box3 .title3 {
  width: 80%;
  margin: 0.73rem auto 0;
}
.box3 video {
  display: block;
  width: 100%;
  margin: 0.41rem auto;
}
.box3 .line {
  width: 0.6rem;
  margin: 0.51rem auto 0.25rem;
}
.box4 .title1 {
  width: 70%;
  margin: 0.28rem auto;
}
.box4 .qa {
  width: 100%;
  margin: 0.64rem auto 0;
}
.box4 .line {
  width: 0.6rem;
  margin: 0.51rem auto 0.25rem;
}
.box5 .title1 {
  width: 60%;
  margin: 0.28rem auto;
}
.box5 .img1 {
  width: 90%;
  margin: 0.57rem auto 0;
}
.box5 p {
  text-align: center;
  font-size: 0.2rem;
  line-height: 0.4rem;
  letter-spacing: 0.02rem;
  color: #000000;
}
.box5 .line {
  width: 0.6rem;
  margin: 0.51rem auto 0.25rem;
}

.video_tit {
  margin: 0.1rem auto;
  width: 2.4rem;
  padding: 0.1rem 0;
  box-sizing: border-box;
  /* background-color: #1c7af6; */
  text-align: center;
  font-size: 0.18rem;
  color: #1c7af6;
  margin-bottom: 0.4rem;
  border-radius: 0.2rem;
  font-weight: 900;
}
.warp {
  width: 100%;
  height: 100%;
  background: url(../images/kv.png) no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  position: relative;
}
.enter {
  position: absolute;
  width: 50%;
  bottom: 45%;
  left: 50%;
  margin-left: -25%;
}
.enter img {
  display: block;
  width: 100%;
}
.list-detail {
  padding: 0.2rem;
  box-sizing: border-box;
}

.warp .footer {
  width: 100%;
  height: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 0.15rem;
  position: absolute;
  bottom: 0;
  background: none;
  /* background: linear-gradient(to bottom, #0b73fb, #75a0d9); */
}

/* 外层容器 */
.swiper3 {
  width: 800px;
  height: 300px;
}

/* 轮播项 */
.swiper3 .swiper-slide {
  width: 60%;
  height: 100%;

  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  /* 文字垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l1{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 1.57rem;
  height: 1.33rem;
}
.l2{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;
  width: 2rem;
  height: 1.33rem;
}

.inputbox{
  width: 100%;
    margin: 0 auto 0.2rem;
    height: 0.6rem;
    border: solid 1px #067af9;
    /* background-position: 70% 0.1rem; */
    border-radius: 0.21rem;
    display: flex;
    font-size: 0.18rem;
    align-items: center;
    justify-content: space-between;
}
.inputbox input{
  border-radius: 0.21rem;
  width: 100%;
  height: 90%;
  border: none;
  background-color: none;
  color: #c5cacc !important;
}
.inputbox img{
  height: .3rem;

}
input::-webkit-input-placeholder {
  /* placeholder颜色 */
  font-size: 0.2rem;
  line-height: 0.27rem;
  color: #dedede;
  margin-left: .5rem;
  /* placeholder字体大小 */
  font-size: 0.18rem !important;
}

.gifs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.gifs div{
  flex: 0 0 25%;
  width: 100%;
}
.gifs div img{
  width: 100%;
}

.swiper-button-next1{
  right: 0!important;
    z-index: 999;

}
.swiper-button-prev1{
  left: 0 !important;

  z-index: 999;
}


/* lb1 */

.lbbox{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
/* 外层容器 */
.lbbox .swiper {
  width: 100%;
  height: 3rem;
}

/* 轮播项 */
.lbbox .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.lb{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.lbbox .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lbbox .swiper-button-next1{
  right: 0!important;
    z-index: 999;

}
.lbbox .swiper-button-prev1{
  left: 0 !important;

  z-index: 999;
}


/* 2 */

.lbbox2{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
/* 外层容器 */
.lbbox2 .swiper {
  width: 100%;
  height: 2rem;
}

/* 轮播项 */
.lbbox2 .swiper .swiper-slide {
  width: 60%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.lb2{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.lbbox2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.lbbox2 .swiper-button-next1{
  right: 0!important;
    z-index: 999;

}
.lbbox2 .swiper-button-prev1{
  left: 0 !important;

  z-index: 999;
}
