/*main*/
.main {
  position: relative;
  background: url("../images/about/bacg.png") repeat-y;
  background-size: 100% auto;
  min-height: 1080px;
  padding-bottom: 400px;
  padding-top: 100px;
}
.main .inner {
  height: 941px;
  padding: 20px 0 150px 0;
}
.inner img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*title*/
.title {
  display: block;
  margin: 0 auto;
}
.title1 {
  margin-top: 44px;
}
.mian1 {
  margin-top: 49px;
}
.tst {
  display: block;
  margin: 0 auto;
  margin-top: 45px;
  /* text-align: center;
  font-size: 30px;
  font-family: SourceHanSansCN-ExtraLight;
	font-weight: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 3px;
	color: #000000; */
}
